<h1>
  <%= @user.username %>
</h1>

<ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <%= link_to "Posts", user_path(@user.username), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Liked photos", liked_path(@user.username), class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<h2>Own photos</h2>

<% @user.own_photos.each do |photo| %>
  <%= render "photos/photo", photo: photo %>
<% end %>
 